@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    margin-left: auto;
    margin-right: auto;
    width: 940px;
    color: #333333;
    font-family: 'Montserrat', sans-serif;
}

.sobre-back {
    padding: 10px;
    background-image: url(../img/sobre-background.jpg);
}

h2 {
    border-bottom: 2px solid #333333;
    margin-top: 30px;
}

figure {
    background-color: #f2eded;
    border: 1px solid #ccc;
    text-align: center;
    padding: 15px;
    margin: 30px;
}

figcaption {
    font-style: italic;
    margin-top: 10px;
}

p {
    padding: 0 45px;
    text-indent: 15px;
}

#centro-distribuicao {
    margin-left: auto;
    margin-right: auto;
    width: 550px;
}

#rodape {
    color: #777;
    margin: 30px 0;
    padding: 30px 0;
}

#rodape img {
    margin-right: 30px;
    vertical-align: middle;
    width: 94px;
}

#familia-pelho {
    float: right;
    margin: 0 0 10px 10px;
}

header {
    position: relative;
}

.sacola {
    background: url(../img/sacola.png) no-repeat top right;
    font-size: 14px;
    padding-right: 35px;
    text-align: right;
    width: 140px;
    padding-top: 10px;
    position: absolute;
    top: 0;
    right: 0;
}

.menu-opcoes ul {
    font-size: 15px;
}

.menu-opcoes a {
    color: #003366;
}

.menu-opcoes ul li {
    display: inline;
    margin-left: 20px;
}

.menu-opcoes {
    position: absolute;
    bottom: 0;
    right: 0;
}